
<div class="mt-2">


<table class="table table-dark text-center">
    <thead>
        <tr class="">  Recetas Favoritas  </tr>
    </thead>

    <tbody>
        <tr>
            <div *ngFor = "let item of recipeToShow">
            
                <td><img src={{item.image}} class = "card-img-top"></td>
            
                <td>{{item.name}}<br></td>
           
                <td><br>
                <button class="btn btn-danger btn-xs"> Eliminar </button>
                </td>

            </div> 
        </tr>
    </tbody>

</table>

</div>
