<app-nav-bar></app-nav-bar>
<hr><hr><hr>
<h1>Recetas Favoritas</h1>
<hr>

<table class="table table-dark text-center">

    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">instructions</th>
         
        </tr>

    </thead>

    <tbody>

        
        
        <tr *ngFor="let item of recipeToShow">
            <td><img src="{{item.image}}" class="img-thumbnail" width="100"></td>
            <td><br>{{item.name}}</td>
            <td><br>{{item.instructions}}</td>
            
            

        </tr>

    </tbody>



</table>





<app-footer></app-footer>