<nav id="navbar" class="navbar">
    <ul>
        <li><a href="#hero">Home</a></li>
        <li class="dropdownComidas"><a href="#"><span>Comidas</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
        <li class="dropdownBebidas"><a href="#"><span>Bebidas</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
        <li><a href="#events">Events</a></li>
        <li><a href="#about">About</a></li>
        

        <ul>
            <li><a href="#">Comidas</a></li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
        </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>